p Hi #{name},

p Your OTP is : <b> #{content.otp_key}</b>
p With Transaction code : <b> #{content.otp_transcode}</b>
p Please don't share your OTP with anyone.
p If you didn’t request this, you can ignore this email.

p Thank you! 



//- p Verification code

//- p Please use the verification code below to sign in.

//- <strong style="font-size: 130%">#{content.otp_key}</strong>

//- p If you didn’t request this, you can ignore this email.

//- p Thanks,
